*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue-opacity;
}

h1 {
    margin: 0 0 10px;
    font-size: 47px;
    line-height: 60px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $dark-blue;
    margin: 0 0 100px;

    &:before,
    &:after {
        content: '';
        background-color: $milk;
        height: 1px;
        width: 30px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 3px;
    }

    &:after {
        margin-left: 15px;
    }
}

h3 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: $dark-blue;
    margin: 0 0 5px;
}

p {
    margin: 0 0 16px;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    background-color: $dark-blue;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    line-height: 128%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white;
    padding: 9px 24px 8px;
    text-decoration: none;
    transition: opacity ease-in-out 0.3s;

    &.btn-white {
        background-color: $white;
        box-shadow: 0 2px 6px $dark-blue-opacity4;
        color: $dark-blue;
        font-weight: 700;
    }
    
    &:hover {
        opacity: 0.7;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &.row-sm {
        margin: 0 -8px;
    }
}

.col {
    padding: 0 10px;
    margin-bottom: 65px;
    width: 100%;

    &.col-sm {
        padding: 0 8px;
    }
    
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: calc(100% / 3);
}