$white: #fff;
$black: #000;
$box-shadow:rgba(0,0,0,0.5);
$background-color:#050827;
$dark-blue: #1D1F2E;
$dark-blue-opacity: rgba(29, 31, 46, 0.7);
$dark-blue-opacity2: rgba(29, 31, 46, 0.4);
$dark-blue-opacity3: rgba(29, 31, 46, 0.3);
$dark-blue-opacity4: rgba(29, 31, 46, 0.1);
$bronze: #A25F4B;
$bronze-hover: rgba(162, 95, 75, 0.2);
$light-grey: rgba(210, 210, 213, 0.1);
$border: #2F303E;
$milk: #ECECED;

$font-family: 'karla';