$white: #fff;
$black: #000;
$grey: #898F8F;
$dark-grey: #666666;
$yellow: #FFCC00;
$background-color: #E5E5E5;
$border-radius-color: #CCCCCC;
$text-color: #333333;

$base-font-size: 14px;

$font-family: 'roboto';
