*,
*:before,
*:after {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-size: 18px ;
    line-height: 28px;
    color: #544837;
}

h1 {
    font-size: 44px;
    line-height: 54px;
    text-align: left;
    color: #2F281E;
    margin: 0 0 30px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 50px;
    text-align: center;
    color: #2F281E;
}

h3 {
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    color: #2F281E;
    margin: 0 0 16px;

}

p {
    margin: 0 0 20px;
}

.hero-section .container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    overflow: hidden;
}

.col {
    float: left;
}

.hero-section .col {
    width: 50%;
}

.hero-section .col:first-child {
    padding: 97px 0;
}

.btn {
    background-color: #FF9900;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    max-width: 180px;
    text-align: center;
    padding: 13px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.btn:hover {
    background-color: #FAB005;
}

.text-holder {
    color:#544837;
    text-align: left;
}

.hero-section .text-holder {
    font-size: 18px;
    line-height: 28px;
    max-width: 500px;
    width: 100%;
    vertical-align: top;
}

.hero-section img {
    max-width: 100%;
}

.hero-section .icon-holder {
    padding: 0 0 127px;
}

.design-section .container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title-holder {
    margin: 0 auto 50px;
    max-width: 539px;
    width: 100%;
}

.design-section .text-holder {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #544837;
}

.btn-holder{
    text-align: center;
    padding-top: 70px;
}

a {
    text-decoration: none;
}

.design-section .icon-holder {
    margin-bottom: 30px ;
}

.design-section {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0 0 74px;
    margin-bottom: 100px;
}

.design-section .row {
    margin: 0 -20px;
}

.design-section .col {
    width: 25%;
    padding: 0 20px;
}

.professionals-section .container {
    max-width: 1230px;

}