$white: #ffffff;
$black: #000000;
$dark-grey: #333333;
$text-grey:#999999;
$accent-darker:#486BFE;
$accent: #5373FD;
$blue: rgba(0, 162, 255, 1);
$red: rgba(255, 99, 99, 1);

$aleo: 'aleo';
$josefin-sans: 'josefin_sans';


